# Cleaning and testing survey data

This notebook contains data cleaning processes used to clean the data from Masculinity Survey conducted by SurveyMonkey in partnership with FiveThirtyEight and WNYC Studios in 2018. <br>
<br>
Each step of data cleaning comes with test cases verifying the state of the data. <br>
These test cases also serve as **specifications** for each step. Should you need to edit the data cleaning code for machine learning, you can read test cases as reminders of what each step does and edit specific section of code with confidence.

## **Summary of the results**

Below are the first 10 rows of datasets before and after cleaning. For more details, please refer to the full cleaning process.

In [1]:
%%capture
from tqdm import tqdm_notebook as tqdm
tqdm().pandas()

%matplotlib inline
import pandas as pd

In [2]:
survey_raw = pd.read_csv("raw/masculinity-survey.csv")
survey_raw.head(10)

,AMONG ADULT MEN,Unnamed: 1,Adult Men,Age,Unnamed: 4,Unnamed: 5,Race,Unnamed: 7,Children,Unnamed: 9,Sexual Orientation,Unnamed: 11
0,NaN,NaN,NaN,18 - 34,35 - 64,65 and up,White,Non-white,Has children,No children,Straight,Gay/Bisexual
1,"In general, how masculine or ""manly"" do you feel?",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Very masculine,37%,29%,42%,37%,34%,44%,43%,30%,40%,21%
3,NaN,Somewhat masculine,46%,47%,46%,47%,50%,39%,47%,46%,47%,49%
4,NaN,Not very masculine,11%,13%,9%,13%,11%,11%,6%,17%,10%,19%
5,NaN,Not at all masculine,5%,10%,2%,3%,4%,6%,3%,6%,3%,10%
6,NaN,No answer,1%,0%,1%,1%,1%,0%,1%,0%,1%,0%
7,How important is it to you that others see you...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,Very important,16%,18%,17%,13%,11%,26%,17%,15%,16%,11%
9,NaN,Somewhat important,37%,38%,37%,32%,38%,35%,37%,37%,38%,33%

In [3]:
# survey_cleaned = pd.read_csv("cleaned/masculinity-survey-clean.csv")
# survey_cleaned.head(10)

In [4]:
response_raw = pd.read_csv("raw/raw-responses.csv")
response_raw.head(10)

,Unnamed: 0,StartDate,EndDate,q0001,q0002,q0004_0001,q0004_0002,q0004_0003,q0004_0004,q0004_0005,...,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation,weight
0,1,5/10/18 4:01,5/10/18 4:06,Somewhat masculine,Somewhat important,Not selected,Not selected,Not selected,Pop culture,Not selected,...,Middle Atlantic,Windows Desktop / Laptop,Non-white,Hispanic,College or more,College or more,35 - 64,No children,Gay/Bisexual,1.714026
1,2,5/10/18 6:30,5/10/18 6:53,Somewhat masculine,Somewhat important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,iOS Phone / Tablet,White,White,Some college,Some college,65 and up,Has children,Straight,1.247120
2,3,5/10/18 7:02,5/10/18 7:09,Very masculine,Not too important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,Has children,Straight,0.515746
3,4,5/10/18 7:27,5/10/18 7:31,Very masculine,Not too important,Father or father figure(s),Mother or mother figure(s),Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,Some college,Some college,65 and up,Has children,No answer,0.600640
4,5,5/10/18 7:35,5/10/18 7:42,Very masculine,Very important,Not selected,Not selected,Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,No children,Straight,1.033400
5,6,5/10/18 8:25,5/10/18 8:34,Very masculine,Somewhat important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,Post graduate degree,65 and up,Has children,Straight,0.059087
6,7,5/10/18 8:29,5/10/18 8:41,Somewhat masculine,Not too important,Father or father figure(s),Mother or mother figure(s),Other family members,Not selected,Friends,...,West North Central,Windows Desktop / Laptop,Non-white,Other,College or more,Post graduate degree,18 - 34,Has children,Gay/Bisexual,0.257360
7,8,5/10/18 10:04,5/10/18 10:11,Somewhat masculine,Somewhat important,Father or father figure(s),Not selected,Not selected,Pop culture,Friends,...,Middle Atlantic,Windows Desktop / Laptop,White,White,College or more,College or more,65 and up,No children,Straight,0.656490
8,9,5/10/18 11:00,5/10/18 11:07,Very masculine,Not at all important,Father or father figure(s),Not selected,Not selected,Not selected,Friends,...,Pacific,iOS Phone / Tablet,Non-white,Hispanic,Some college,Some college,35 - 64,Has children,Straight,4.341850
9,10,5/11/18 12:36,5/11/18 12:43,Somewhat masculine,Somewhat important,Father or father figure(s),Not selected,Not selected,Pop culture,Not selected,...,Pacific,iOS Phone / Tablet,White,White,College or more,Post graduate degree,35 - 64,No children,Straight,0.057482

In [5]:
# response_cleaned = pd.read_csv("cleaned/raw-responses-clean.csv")
# response_cleaned.head(10)

## **Full cleaning processes below**

### Copying dataset

In case we need to compare the raw and cleaned datasets later on, we create copies of the datasets and name them as `survey_wip` and `response_wip`. <br>
`survey_wip` and `response_wip` are what we are going to work with.

In [6]:
survey_wip = survey_raw.copy()
response_wip = response_raw.copy()

### Inspecting dataset

`survey_wip` contains the survey results, where each row represent a question from the survey and each column represent demographic groups. <br>
`response_wip` contains the responses to the survey, where each row represent a survey respondent and each column represent survey questions.

In [7]:
survey_wip.head()

,AMONG ADULT MEN,Unnamed: 1,Adult Men,Age,Unnamed: 4,Unnamed: 5,Race,Unnamed: 7,Children,Unnamed: 9,Sexual Orientation,Unnamed: 11
0,NaN,NaN,NaN,18 - 34,35 - 64,65 and up,White,Non-white,Has children,No children,Straight,Gay/Bisexual
1,"In general, how masculine or ""manly"" do you feel?",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Very masculine,37%,29%,42%,37%,34%,44%,43%,30%,40%,21%
3,NaN,Somewhat masculine,46%,47%,46%,47%,50%,39%,47%,46%,47%,49%
4,NaN,Not very masculine,11%,13%,9%,13%,11%,11%,6%,17%,10%,19%

In [8]:
survey_wip.describe(include="all")

,AMONG ADULT MEN,Unnamed: 1,Adult Men,Age,Unnamed: 4,Unnamed: 5,Race,Unnamed: 7,Children,Unnamed: 9,Sexual Orientation,Unnamed: 11
count,35,195,189,155,190,190,190,190,190,190,190,155
unique,35,104,59,58,62,64,61,62,62,58,61,60
top,AMONG EMPLOYED: In which of the following ways...,No answer,1%,0%,1%,1%,1%,1%,1%,1%,1%,0%
freq,1,23,11,19,17,13,13,10,19,11,13,17

Fist off, `survey_wip` has non-intuitive column names. We have to rename them for readability <br>
Second, `survey_wip` has nothing but string values. We have to change the datatypes of numerical values <br>
Third, `survey_wip` has numerous `NaN` here and there. We have to clear them out as many as possible.

In [9]:
response_wip.head()

,Unnamed: 0,StartDate,EndDate,q0001,q0002,q0004_0001,q0004_0002,q0004_0003,q0004_0004,q0004_0005,...,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation,weight
0,1,5/10/18 4:01,5/10/18 4:06,Somewhat masculine,Somewhat important,Not selected,Not selected,Not selected,Pop culture,Not selected,...,Middle Atlantic,Windows Desktop / Laptop,Non-white,Hispanic,College or more,College or more,35 - 64,No children,Gay/Bisexual,1.714026
1,2,5/10/18 6:30,5/10/18 6:53,Somewhat masculine,Somewhat important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,iOS Phone / Tablet,White,White,Some college,Some college,65 and up,Has children,Straight,1.247120
2,3,5/10/18 7:02,5/10/18 7:09,Very masculine,Not too important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,Has children,Straight,0.515746
3,4,5/10/18 7:27,5/10/18 7:31,Very masculine,Not too important,Father or father figure(s),Mother or mother figure(s),Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,Some college,Some college,65 and up,Has children,No answer,0.600640
4,5,5/10/18 7:35,5/10/18 7:42,Very masculine,Very important,Not selected,Not selected,Other family members,Not selected,Not selected,...,East North Central,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,No children,Straight,1.033400

In [10]:
response_wip.describe(include='all')

,Unnamed: 0,StartDate,EndDate,q0001,q0002,q0004_0001,q0004_0002,q0004_0003,q0004_0004,q0004_0005,...,q0035,q0036,race2,racethn4,educ3,educ4,age3,kids,orientation,weight
count,1615.000000,1615,1615,1615,1615,1615,1615,1615,1615,1615,...,1595,1613,1615,1615,1615,1615,1615,1606,1615,1615.000000
unique,NaN,1378,1377,5,5,2,2,2,2,2,...,9,5,2,4,3,4,3,2,4,NaN
top,NaN,5/18/18 9:29,5/18/18 1:34,Somewhat masculine,Somewhat important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,...,South Atlantic,Windows Desktop / Laptop,White,White,College or more,College or more,35 - 64,Has children,Straight,NaN
freq,NaN,4,4,826,628,1109,960,1051,1312,1056,...,302,880,1351,1351,997,515,855,1065,1408,NaN
mean,808.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
std,466.354658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.438996
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.019744
25%,404.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.102580
50%,808.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.596892
75%,1211.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.010046
max,1615.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.676606

First, `response_wip` also has ambiguous column names. We have to rename them for readability <br>
Second, `response_wip` has string datatypes for datetime data and survey answers. We have to convert them into more appropriate datatypes. <br>
Third, `response_wip` has numerous `Not selected` here and there. We have to convert them into `NaN`.
Fourth, `response_wip` has a column named `Unnamed: 0`, which is not serving any purpose other than index, which we already have. Drop the column.

## Changing column names

All the new column names will be in snake case.

In [11]:
survey_mapper = {"AMONG ADULT MEN":"question_num", "Unnamed: 1":"answer_num",
                 "Adult Men":"age_all", "Age":"age_18_34", "Unnamed: 4": "age_35_64", "Unnamed: 5": "age_65+",
                 "Race":"race_white", 'Unnamed: 7':"race_non_white", "Children":"has_children", "Unnamed: 9":"no_children",
                 "Sexual Orientation":"straight", "Unnamed: 11":"gay_bisexual"}
survey_wip.rename(columns=survey_mapper, inplace=True)
survey_wip.columns

Index(['question_num', 'answer_num', 'age_all', 'age_18_34', 'age_35_64',
       'age_65+', 'race_white', 'race_non_white', 'has_children',
       'no_children', 'straight', 'gay_bisexual'],
      dtype='object')

In [12]:
response_new_cols = response_wip.columns.copy()

response_new_cols = response_new_cols.str.replace(r"(?<=[q_])00", "") # Making question column names shorter
response_new_cols = response_new_cols.str.replace("StartDate", "start_date")
response_new_cols = response_new_cols.str.replace("EndDate", "end_date")
response_new_cols = response_new_cols.str.replace("kids", "has_children")

response_mapper = dict(zip(response_wip.columns, response_new_cols))
response_wip.rename(columns=response_mapper, inplace=True)
response_wip.columns

Index(['Unnamed: 0', 'start_date', 'end_date', 'q01', 'q02', 'q04_01',
       'q04_02', 'q04_03', 'q04_04', 'q04_05', 'q04_06', 'q05', 'q07_01',
       'q07_02', 'q07_03', 'q07_04', 'q07_05', 'q07_06', 'q07_07', 'q07_08',
       'q07_09', 'q07_10', 'q07_11', 'q08_01', 'q08_02', 'q08_03', 'q08_04',
       'q08_05', 'q08_06', 'q08_07', 'q08_08', 'q08_09', 'q08_10', 'q08_11',
       'q08_12', 'q09', 'q10_01', 'q10_02', 'q10_03', 'q10_04', 'q10_05',
       'q10_06', 'q10_07', 'q10_08', 'q11_01', 'q11_02', 'q11_03', 'q11_04',
       'q11_05', 'q12_01', 'q12_02', 'q12_03', 'q12_04', 'q12_05', 'q12_06',
       'q12_07', 'q13', 'q14', 'q15', 'q17', 'q18', 'q19_01', 'q19_02',
       'q19_03', 'q19_04', 'q19_05', 'q19_06', 'q19_07', 'q20_01', 'q20_02',
       'q20_03', 'q20_04', 'q20_05', 'q20_06', 'q21_01', 'q21_02', 'q21_03',
       'q21_04', 'q22', 'q24', 'q25_01', 'q25_02', 'q25_03', 'q26', 'q28',
       'q29', 'q30', 'q34', 'q35', 'q36', 'race2', 'racethn4', 'educ3',
       'educ4', 'age3', 'has_children', 'orientation', 'weight'],
      dtype='object')

### Truncating the dataset

In [13]:
survey_wip.drop(index=0, inplace=True) # Dropping the first row
survey_wip.reset_index(drop=True, inplace=True)

response_wip.drop(columns="Unnamed: 0", inplace=True) # Dropping the column that indexes rows

### Dropping redundant columns in `response_wip`

Out of the columns in `response_wip`, `race2` and `racethn4`, `educ3` and `educ4` are respectively redundant. <br>
Therefore, it is best to drop the less precise of each pair for readability.

In [14]:
response_wip['race2'].value_counts()

White        1351
Non-white     264
Name: race2, dtype: int64

In [15]:
response_wip['racethn4'].value_counts()

White       1351
Other        121
Black         72
Hispanic      71
Name: racethn4, dtype: int64

It seems clear that `racethn4` is the more precise. <br>
But to absolutely make sure, let's implement a test to check if `race2` and `racethn4` match.

In [16]:
def test_race_match(response):
    """
    Tests row-wise if `race2` and `racethn4` match as below :
    
    race2     : racethn4
    -----------------
    White     : White
    Non-white : Other
    Non-white : Black
    Non-white : Hispanic
    """
    racethn4_values = response_wip['racethn4'].value_counts().index.tolist()
    race2_values = response_wip['race2'].value_counts().index.tolist() + ["Non-white"] * 2
    matches = dict(zip(racethn4_values, race2_values))
    return matches[response['racethn4']] == response['race2']

Now let's run the test on `response_wip` and see for how many rows `race2` and `racethn4` match.

In [17]:
response_wip.progress_apply(test_race_match, axis="columns").value_counts()

HBox(children=(FloatProgress(value=0.0, max=1615.0), HTML(value='')))

True    1615
dtype: int64

`race2` and `racethn4` match in every row! <br>
Now we can drop `race2` column with confidence.

In [18]:
response_wip.drop(columns='race2', inplace=True)

Next up is `educ3` and `educ4` columns. Let's see how they compare.

In [19]:
response_wip['educ3'].value_counts()

College or more        997
Some college           440
High school or less    178
Name: educ3, dtype: int64

In [20]:
response_wip['educ4'].value_counts()

College or more         515
Post graduate degree    482
Some college            440
High school or less     178
Name: educ4, dtype: int64

It seems very likely that `educ3` and `educ4` match and `educ4` is the more detailed of the two. <br>
Let's implement a test for it.

In [21]:
def test_educ_match(response):
    """
    Tests row-wise if `educ3` and `educ4` match as below :
    
    educ3               : educ4
    ------------------------------------------
    College or more     : College or more
    College or more     : Post graduate degree
    Some college        : Some college
    High school or less : High school or less
    """
    educ4_values = response_wip['educ4'].value_counts().index.tolist()
    educ3_values = response_wip['educ3'].value_counts().index.tolist()
    educ3_values.insert(1, "College or more")
    matches = dict(zip(educ4_values, educ3_values))
    return matches[response['educ4']] == response['educ3']

Now let's run the test on `response_wip` and see for how many rows `educ3` and `educ4` match.

In [22]:
response_wip.progress_apply(test_educ_match, axis="columns").value_counts()

HBox(children=(FloatProgress(value=0.0, max=1615.0), HTML(value='')))

True    1615
dtype: int64

`educ3` and `educ4` match in every row. <br>
Now we can drop `educ3` column with confidence.

In [23]:
response_wip.drop(columns="educ3", inplace=True)

### Converting datatype of `has_children` column

`has_children` column currently has two string values : ```Has_children```, and ```No_children```

In [24]:
response_wip['has_children'].value_counts()

Has children    1065
No children      541
Name: has_children, dtype: int64

For ease of processing, we need to convert them into boolean values.

In [25]:
kids_values = response_wip['has_children'].value_counts().index.tolist()
kids_mapper = dict(zip(kids_values, [True, False]))

response_wip['has_children'] = response_wip['has_children'].map(kids_mapper)
response_wip['has_children'].value_counts()

True     1065
False     541
Name: has_children, dtype: int64

In [26]:
response_wip.head()

,start_date,end_date,q01,q02,q04_01,q04_02,q04_03,q04_04,q04_05,q04_06,...,q30,q34,q35,q36,racethn4,educ4,age3,has_children,orientation,weight
0,5/10/18 4:01,5/10/18 4:06,Somewhat masculine,Somewhat important,Not selected,Not selected,Not selected,Pop culture,Not selected,Not selected,...,New York,"$0-$9,999",Middle Atlantic,Windows Desktop / Laptop,Hispanic,College or more,35 - 64,False,Gay/Bisexual,1.714026
1,5/10/18 6:30,5/10/18 6:53,Somewhat masculine,Somewhat important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,Not selected,...,Ohio,"$50,000-$74,999",East North Central,iOS Phone / Tablet,White,Some college,65 and up,True,Straight,1.247120
2,5/10/18 7:02,5/10/18 7:09,Very masculine,Not too important,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,Other (please specify),...,Michigan,"$50,000-$74,999",East North Central,Windows Desktop / Laptop,White,College or more,35 - 64,True,Straight,0.515746
3,5/10/18 7:27,5/10/18 7:31,Very masculine,Not too important,Father or father figure(s),Mother or mother figure(s),Other family members,Not selected,Not selected,Not selected,...,Indiana,"$50,000-$74,999",East North Central,Windows Desktop / Laptop,White,Some college,65 and up,True,No answer,0.600640
4,5/10/18 7:35,5/10/18 7:42,Very masculine,Very important,Not selected,Not selected,Other family members,Not selected,Not selected,Not selected,...,Ohio,"$50,000-$74,999",East North Central,Windows Desktop / Laptop,White,College or more,35 - 64,False,Straight,1.033400

### Converting `start_date` and `end_date` into datetime objects

In [27]:
response_wip['start_date'] = pd.to_datetime(response_wip['start_date'])
response_wip['end_date'] = pd.to_datetime(response_wip['end_date'])

### Converting answers to booleans

When you closely look at the names of answer columns in `response_wip`, they take either of the following formats : 'q(num)' and 'q(num)\_(num)'. <br>
The column names in 'q(num)\_(num)' format represents questions which are parts of other questions. <br>
Let's call these as `sub_questions` for convenience.

In [28]:
sub_question_filter = response_wip.columns.str.contains(r"q[0-9][0-9]?_[0-9][0-9]?")
sub_questions = response_wip.columns[sub_question_filter]
sub_questions

Index(['q04_01', 'q04_02', 'q04_03', 'q04_04', 'q04_05', 'q04_06', 'q07_01',
       'q07_02', 'q07_03', 'q07_04', 'q07_05', 'q07_06', 'q07_07', 'q07_08',
       'q07_09', 'q07_10', 'q07_11', 'q08_01', 'q08_02', 'q08_03', 'q08_04',
       'q08_05', 'q08_06', 'q08_07', 'q08_08', 'q08_09', 'q08_10', 'q08_11',
       'q08_12', 'q10_01', 'q10_02', 'q10_03', 'q10_04', 'q10_05', 'q10_06',
       'q10_07', 'q10_08', 'q11_01', 'q11_02', 'q11_03', 'q11_04', 'q11_05',
       'q12_01', 'q12_02', 'q12_03', 'q12_04', 'q12_05', 'q12_06', 'q12_07',
       'q19_01', 'q19_02', 'q19_03', 'q19_04', 'q19_05', 'q19_06', 'q19_07',
       'q20_01', 'q20_02', 'q20_03', 'q20_04', 'q20_05', 'q20_06', 'q21_01',
       'q21_02', 'q21_03', 'q21_04', 'q25_01', 'q25_02', 'q25_03'],
      dtype='object')

Let's explore these `sub_questions`

In [29]:
response_wip[sub_questions].describe(include='all')

,q04_01,q04_02,q04_03,q04_04,q04_05,q04_06,q07_01,q07_02,q07_03,q07_04,...,q20_04,q20_05,q20_06,q21_01,q21_02,q21_03,q21_04,q25_01,q25_02,q25_03
count,1615,1615,1615,1615,1615,1615,1615,1615,1615,1615,...,1615,1615,1615,1615,1615,1615,1615,1615,1615,1615
unique,2,2,2,2,2,2,6,6,6,6,...,2,2,2,2,2,2,2,2,2,2
top,Father or father figure(s),Not selected,Not selected,Not selected,Not selected,Not selected,Sometimes,Sometimes,Sometimes,Rarely,...,Every situation is different,Not selected,Not selected,Not selected,Not selected,Not selected,None of the above,Not selected,"Yes, one or more children 18 or older",Not selected
freq,1109,960,1051,1312,1056,1286,751,697,495,684,...,963,1061,1471,1489,1584,1581,1419,1361,875,1074

Notice that many of the `sub_questions` have only two unique values, including `Not selected`. <br>
This specific kind of `sub_questions` represent answer choices given in **multi-select questions**. <br>
multi-select questions ask respondents to choose one or more of the answer choices. <br>

This means that the `sub_questions` with two unique values including `Not selected` can have their values converted into boolean type. <br>
We will do exactly that.

Let's find what columns we have to deal with first.

In [30]:
# Selecting columns with two unique values
unique_counts = response_wip.nunique()
two_unique = set(unique_counts[unique_counts == 2].index)

# Selecting sub-question columns containing "Not selected"
null_select = set([col for col in sub_questions if response_wip[col].str.contains("Not selected").any()])

# Getting intersection of all three sets above
multi_select = two_unique.intersection(null_select)
multi_select = pd.Index(multi_select).sort_values()
multi_select

Index(['q04_01', 'q04_02', 'q04_03', 'q04_04', 'q04_05', 'q04_06', 'q08_01',
       'q08_02', 'q08_03', 'q08_04', 'q08_05', 'q08_06', 'q08_07', 'q08_08',
       'q08_09', 'q08_10', 'q08_11', 'q08_12', 'q10_01', 'q10_02', 'q10_03',
       'q10_04', 'q10_05', 'q10_06', 'q10_07', 'q10_08', 'q11_01', 'q11_02',
       'q11_03', 'q11_04', 'q11_05', 'q12_01', 'q12_02', 'q12_03', 'q12_04',
       'q12_05', 'q12_06', 'q12_07', 'q19_01', 'q19_02', 'q19_03', 'q19_04',
       'q19_05', 'q19_06', 'q19_07', 'q20_01', 'q20_02', 'q20_03', 'q20_04',
       'q20_05', 'q20_06', 'q21_01', 'q21_02', 'q21_03', 'q21_04', 'q25_01',
       'q25_02', 'q25_03'],
      dtype='object')

Now that we know which columns represent multi-select questions, we can convert their values into boolean.

In [31]:
response_wip[multi_select] = response_wip[multi_select].progress_applymap(lambda val: False if val == "Not selected" else True)
response_wip[sub_questions].describe(include="all")

HBox(children=(FloatProgress(value=0.0, max=93670.0), HTML(value='')))

,q04_01,q04_02,q04_03,q04_04,q04_05,q04_06,q07_01,q07_02,q07_03,q07_04,...,q20_04,q20_05,q20_06,q21_01,q21_02,q21_03,q21_04,q25_01,q25_02,q25_03
count,1615,1615,1615,1615,1615,1615,1615,1615,1615,1615,...,1615,1615,1615,1615,1615,1615,1615,1615,1615,1615
unique,2,2,2,2,2,2,6,6,6,6,...,2,2,2,2,2,2,2,2,2,2
top,True,False,False,False,False,False,Sometimes,Sometimes,Sometimes,Rarely,...,True,False,False,False,False,False,True,False,True,False
freq,1109,960,1051,1312,1056,1286,751,697,495,684,...,963,1061,1471,1489,1584,1581,1419,1361,875,1074

### Mapping answers to numerical values and categorical values

Let's first identify the question columns.

In [32]:
question_filter = response_wip.columns.str.contains(r"q[0-9][0-9]?")
questions = response_wip.columns[question_filter]
questions

Index(['q01', 'q02', 'q04_01', 'q04_02', 'q04_03', 'q04_04', 'q04_05',
       'q04_06', 'q05', 'q07_01', 'q07_02', 'q07_03', 'q07_04', 'q07_05',
       'q07_06', 'q07_07', 'q07_08', 'q07_09', 'q07_10', 'q07_11', 'q08_01',
       'q08_02', 'q08_03', 'q08_04', 'q08_05', 'q08_06', 'q08_07', 'q08_08',
       'q08_09', 'q08_10', 'q08_11', 'q08_12', 'q09', 'q10_01', 'q10_02',
       'q10_03', 'q10_04', 'q10_05', 'q10_06', 'q10_07', 'q10_08', 'q11_01',
       'q11_02', 'q11_03', 'q11_04', 'q11_05', 'q12_01', 'q12_02', 'q12_03',
       'q12_04', 'q12_05', 'q12_06', 'q12_07', 'q13', 'q14', 'q15', 'q17',
       'q18', 'q19_01', 'q19_02', 'q19_03', 'q19_04', 'q19_05', 'q19_06',
       'q19_07', 'q20_01', 'q20_02', 'q20_03', 'q20_04', 'q20_05', 'q20_06',
       'q21_01', 'q21_02', 'q21_03', 'q21_04', 'q22', 'q24', 'q25_01',
       'q25_02', 'q25_03', 'q26', 'q28', 'q29', 'q30', 'q34', 'q35', 'q36'],
      dtype='object')

Now we can identify single-select questions, by obtaining the set difference between `questions` and `multi_select`.

In [33]:
single_select = questions.difference(multi_select)
single_select

Index(['q01', 'q02', 'q05', 'q07_01', 'q07_02', 'q07_03', 'q07_04', 'q07_05',
       'q07_06', 'q07_07', 'q07_08', 'q07_09', 'q07_10', 'q07_11', 'q09',
       'q13', 'q14', 'q15', 'q17', 'q18', 'q22', 'q24', 'q26', 'q28', 'q29',
       'q30', 'q34', 'q35', 'q36'],
      dtype='object')

You can still see column names that suggest they are sub-question columns. <br>
This is because these sub-question columns are practically single-select questions. <br>
They are also easier to map to numeric values because they have identical possible values. <br>

We will map values in these columns first. <br>

In [34]:
freq_questions = single_select[single_select.str.startswith(r"q07")]
freq_questions

Index(['q07_01', 'q07_02', 'q07_03', 'q07_04', 'q07_05', 'q07_06', 'q07_07',
       'q07_08', 'q07_09', 'q07_10', 'q07_11'],
      dtype='object')

Let's first verify that they do share identical sets of possible values. <br>
Below is the test function we will use this time.

In [35]:
from functools import reduce

def test_val_shared(df):
    """
    Tests if all columns in the given df have identical sets of possible values.
    """
    col_vals = pd.Series({col : set(vals) for col, vals in response_wip[freq_questions].iteritems()})
    shared  = reduce(lambda a,b : a.intersection(b), col_vals.values)
    results = col_vals.apply(lambda vals: vals == shared)
    if results.all():
        print("Passed ; all the columns have identical sets of possible values")
    else:
        print("Failed ; some columns do not have identical sets of possible values")

Now let's run the test function on `response_wip[freq_questions]`.

In [36]:
test_val_shared(response_wip[freq_questions])

Passed ; all the columns have identical sets of possible values

Now that we verified they share possible values, it's time to map. <br>
Below are the possible values of `freq_questions` columns.

In [37]:
response_wip['q07_01'].unique()

array(['Often', 'Rarely', 'Sometimes', 'Never, but open to it',
       'Never, and not open to it', 'No answer'], dtype=object)

Below is the mapper.

In [38]:
import numpy as np

freq_domain = ['Often', 'Sometimes', 'Rarely', 'Never, but open to it', 'Never, and not open to it', 'No answer']
freq_not_null = len(freq_domain) - freq_domain.count("No answer")

freq_range = list(np.arange(0, freq_not_null) / (freq_not_null - 1)) + [np.nan]

freq_mapper = dict(zip(freq_domain, freq_range))

Now get the mapping done.

In [39]:
response_wip[freq_questions] = response_wip[freq_questions].apply(lambda col : col.map(freq_mapper, na_action='ignore'))
response_wip[freq_questions]

,q07_01,q07_02,q07_03,q07_04,q07_05,q07_06,q07_07,q07_08,q07_09,q07_10,q07_11
0,0.00,0.00,0.00,0.00,1.00,1.00,0.0,0.25,0.25,1.00,0.00
1,0.50,0.25,0.75,0.50,1.00,0.50,1.0,0.00,1.00,0.25,NaN
2,0.25,0.25,0.25,0.50,0.75,0.00,1.0,0.50,0.25,0.50,1.00
3,0.50,0.50,0.25,0.50,0.50,0.00,1.0,1.00,0.50,1.00,1.00
4,0.25,0.50,1.00,0.75,0.75,0.25,1.0,0.00,0.50,0.75,0.25
...,...,...,...,...,...,...,...,...,...,...,...
1610,0.50,0.25,1.00,0.50,1.00,0.75,1.0,1.00,0.25,0.75,0.25
1611,0.00,0.00,0.25,0.75,0.50,0.00,1.0,0.00,0.25,0.75,0.25
1612,NaN,0.00,0.00,0.50,0.50,0.00,1.0,0.00,0.25,0.50,0.50
1613,0.25,0.25,0.75,0.75,0.75,0.00,1.0,0.00,0.00,0.75,0.50
1614,0.00,0.25,0.50,0.50,0.25,0.00,1.0,0.00,0.00,0.50,0.50

Now let's look at the rest of single-select questions. <br>

In [40]:
remaining_single_select = single_select.difference(freq_questions)
remaining_single_select

Index(['q01', 'q02', 'q05', 'q09', 'q13', 'q14', 'q15', 'q17', 'q18', 'q22',
       'q24', 'q26', 'q28', 'q29', 'q30', 'q34', 'q35', 'q36'],
      dtype='object')

Among them, `q05`, `q15`, `q17`, and `q22` are boolean questions. <br>
Let's map them.

In [41]:
non_sq_bool = ['q05', 'q15', 'q17', 'q22']
non_sq_bool_mapper = {"Yes":True, "No":False, "No answer":np.nan}

response_wip[non_sq_bool] = response_wip[non_sq_bool].apply(lambda col : col.map(non_sq_bool_mapper, na_action="ignore"))
response_wip[non_sq_bool]

        q05    q15    q17    q22
0      True    NaN   True  False
1      True    NaN  False  False
2     False  False   True  False
3     False    NaN   True    NaN
4      True   True  False  False
...     ...    ...    ...    ...
1610   True   True  False  False
1611   True   True   True  False
1612   True   True   True  False
1613   True   True   True   True
1614  False    NaN   True  False

[1615 rows x 4 columns]

Below are the rest of single-select questions.

In [42]:
remaining_single_select = remaining_single_select.difference(non_sq_bool)
remaining_single_select

Index(['q01', 'q02', 'q09', 'q13', 'q14', 'q18', 'q24', 'q26', 'q28', 'q29',
       'q30', 'q34', 'q35', 'q36'],
      dtype='object')

All of the remaining single-select questions have unique sets of possible values. <br>
So we have to map them one by one. <br>

Below is the function we will use to map the column values to numbers between 0 and 1

In [43]:
def map_to_num(col_name, col_domain):
    """
    Maps the given column's values to numbers between 0 and 1.
    
    Parameters :
        col_name : str
        col_domain : list of column values in ascending order
    """
    col_not_null = len(col_domain) - col_domain.count("No answer")

    col_range = [np.nan] + list(np.arange(0, col_not_null) / (col_not_null - 1))

    col_mapper = dict(zip(col_domain, col_range))

    response_wip[col_name] = response_wip[col_name].map(col_mapper, na_action='ignore')
    
    global remaining_single_select
    remaining_single_select = remaining_single_select.drop([col_name])

Now we have to feed the column values in descending order. <br>

In [44]:
q01_domain = ['No answer', 'Not at all masculine', 'Not very masculine', 'Somewhat masculine', 'Very masculine']
map_to_num('q01', q01_domain)
remaining_single_select

Index(['q02', 'q09', 'q13', 'q14', 'q18', 'q24', 'q26', 'q28', 'q29', 'q30',
       'q34', 'q35', 'q36'],
      dtype='object')

Do the same for `q02`.

In [45]:
q02_domain = ['No answer', 'Not at all important', 'Not too important', 'Somewhat important', 'Very important']
map_to_num('q02', q02_domain)
remaining_single_select

Index(['q09', 'q13', 'q14', 'q18', 'q24', 'q26', 'q28', 'q29', 'q30', 'q34',
       'q35', 'q36'],
      dtype='object')

`q09` is a bit tricky. <br>
Its possible values do not have quantitative relation with each other. <br>

In [46]:
response_wip['q09'].unique()

array(['Not employed, NOT looking for work', 'Not employed-retired',
       'Employed, working full-time', 'Not employed, student',
       'Employed, working part-time', 'Not employed, looking for work',
       'No answer'], dtype=object)

`q09` column values are categorical, so it's not wise to map them to numbers. <br>

But one issue with `q09` columns values is that they are too long to parse. <br>
Thanksfully, they can be split into two distinct columns containing distinct information : `is_employed` and `employment_status`. <br>

We can extract these columns out of `q09` and add them to `response_wip`. <br>
We will drop `q09` after that.

In [47]:
extracted = response_wip['q09'].str.extract(r"(?P<is_employed>[a-zA-Z ]*[Ee]mployed)[,-][ ]?(?P<employment_status>[a-zA-Z -]*)")
extracted = extracted.apply(lambda col: col.str.lower())
extracted['is_employed'] = extracted['is_employed'].map({"employed":True, "not employed":False}, na_action="ignore")
response_wip = pd.concat([response_wip, extracted], axis="columns")
response_wip.drop(columns="q09", inplace=True)
response_wip.head()

,start_date,end_date,q01,q02,q04_01,q04_02,q04_03,q04_04,q04_05,q04_06,...,q35,q36,racethn4,educ4,age3,has_children,orientation,weight,is_employed,employment_status
0,2018-05-10 04:01:00,2018-05-10 04:06:00,0.666667,0.666667,False,False,False,True,False,False,...,Middle Atlantic,Windows Desktop / Laptop,Hispanic,College or more,35 - 64,False,Gay/Bisexual,1.714026,False,not looking for work
1,2018-05-10 06:30:00,2018-05-10 06:53:00,0.666667,0.666667,True,False,False,False,False,False,...,East North Central,iOS Phone / Tablet,White,Some college,65 and up,True,Straight,1.247120,False,retired
2,2018-05-10 07:02:00,2018-05-10 07:09:00,1.000000,0.333333,True,False,False,False,False,True,...,East North Central,Windows Desktop / Laptop,White,College or more,35 - 64,True,Straight,0.515746,True,working full-time
3,2018-05-10 07:27:00,2018-05-10 07:31:00,1.000000,0.333333,True,True,True,False,False,False,...,East North Central,Windows Desktop / Laptop,White,Some college,65 and up,True,No answer,0.600640,False,retired
4,2018-05-10 07:35:00,2018-05-10 07:42:00,1.000000,1.000000,False,False,True,False,False,False,...,East North Central,Windows Desktop / Laptop,White,College or more,35 - 64,False,Straight,1.033400,True,working full-time

Let's update `remaining_single_select` again.

In [48]:
remaining_single_select = remaining_single_select.drop(['q09'])
remaining_single_select

Index(['q13', 'q14', 'q18', 'q24', 'q26', 'q28', 'q29', 'q30', 'q34', 'q35',
       'q36'],
      dtype='object')

Let's see what `q13` has.

In [49]:
response_wip['q13'].unique()

array([nan, 'You weren?t sure it was sexual harassment',
       'You didn?t want to get involved', 'Other (please specify)',
       'No answer', 'You didn?t think it was your place',
       'You weren?t sure who to contact'], dtype=object)

`q13` is also a categorical column. So we can't map the values to numbers. <br>
But we see some of them have `?` instead of `'`. <br>

We will replace them for readability.

In [50]:
response_wip['q13'] = response_wip['q13'].str.replace("?", "'")
response_wip['q13'].unique()

array([nan, "You weren't sure it was sexual harassment",
       "You didn't want to get involved", 'Other (please specify)',
       'No answer', "You didn't think it was your place",
       "You weren't sure who to contact"], dtype=object)

Below is the rest of remaining single-select questions.

In [51]:
remaining_single_select = remaining_single_select.drop(['q13'])
remaining_single_select

Index(['q14', 'q18', 'q24', 'q26', 'q28', 'q29', 'q30', 'q34', 'q35', 'q36'], dtype='object')

Let's see what `q14` has.

In [52]:
response_wip['q14'].unique()

array([nan, 'A lot', 'Only a little', 'Nothing at all', 'Some',
       'No answer'], dtype=object)

We can make use of `map_to_num` for this column.

In [53]:
q14_domain = ['No answer', 'Nothing at all', 'Only a little', 'Some', 'A lot']
map_to_num('q14', q14_domain)
remaining_single_select

Index(['q18', 'q24', 'q26', 'q28', 'q29', 'q30', 'q34', 'q35', 'q36'], dtype='object')

Below is unique values of `q18`

In [54]:
response_wip['q18'].unique()

array(['Sometimes', 'Rarely', 'Always', 'Often', 'Never', 'No answer'],
      dtype=object)

In [55]:
q18_domain = ['No answer', 'Never', 'Rarely', 'Sometimes', 'Often', 'Always']
map_to_num('q18', q18_domain)
remaining_single_select

Index(['q24', 'q26', 'q28', 'q29', 'q30', 'q34', 'q35', 'q36'], dtype='object')

Below is the column values of `q24`

In [56]:
response_wip['q24'].unique()

array(['Never married', 'Widowed', 'Married', 'Divorced', 'Separated',
       'No answer'], dtype=object)

`q24` is a categorical column. All we need to do is replace `No answer` with `NaN`.

In [57]:
response_wip['q24'] = response_wip['q24'].mask(response_wip['q24'] == 'No answer')
response_wip['q24'].value_counts(dropna=False)

Married          996
Never married    286
Divorced         218
Widowed           82
Separated         25
NaN                8
Name: q24, dtype: int64

In [58]:
response_wip['q26'].value_counts(dropna=False)

Straight     1408
Gay           111
Bisexual       52
Other          31
No answer      13
Name: q26, dtype: int64

In [59]:
response_wip['q26'] = response_wip['q26'].mask(response_wip['q26'] == 'No answer')
response_wip['q26'].value_counts(dropna=False)

Straight    1408
Gay          111
Bisexual      52
Other         31
NaN           13
Name: q26, dtype: int64

In [60]:
response_wip['q28'].value_counts(dropna=False)

White       1351
Other         85
Black         72
Hispanic      71
Asian         36
Name: q28, dtype: int64

In [61]:
response_wip['q29'].value_counts(dropna=False)

College graduate                515
Post graduate degree            482
Some college                    292
High school or G.E.D.           157
Associate's degree              148
Did not complete high school     21
Name: q29, dtype: int64

In [62]:
response_wip['q30'].value_counts(dropna=False)

California                   174
Texas                        127
Florida                      116
New York                      98
Illinois                      77
Pennsylvania                  70
Washington                    61
New Jersey                    49
Michigan                      46
Georgia                       45
Ohio                          44
Arizona                       43
Virginia                      42
North Carolina                42
Oregon                        41
Wisconsin                     39
Minnesota                     35
Maryland                      31
Indiana                       30
Massachusetts                 29
Colorado                      29
Missouri                      27
Nevada                        25
Utah                          21
Connecticut                   20
South Carolina                20
New Mexico                    18
Kentucky                      17
Alabama                       17
Tennessee                     17
Kansas                        16
Iowa                          15
Louisiana                     12
West Virginia                 11
Nebraska                      11
Oklahoma                      10
Montana                       10
Idaho                         10
Maine                          9
Hawaii                         9
Arkansas                       8
New Hampshire                  8
Vermont                        7
Mississippi                    7
Delaware                       6
Wyoming                        5
Alaska                         3
Rhode Island                   3
South Dakota                   2
North Dakota                   2
District of Columbia (DC)      1
Name: q30, dtype: int64

In [63]:
response_wip['q34'].value_counts(dropna=False)

$50,000-$74,999         268
$25,000-$49,999         239
$75,000-$99,999         225
Prefer not to answer    211
$100,000-$124,999       169
$200,000+               127
$10,000-$24,999         112
$125,000-$149,999        89
$0-$9,999                69
$150,000-$174,999        64
$175,000-$199,999        40
NaN                       2
Name: q34, dtype: int64

In [64]:
response_wip['q34'] = response_wip['q34'].mask(response_wip['q34'] == "Prefer not to answer")
response_wip['q34'].value_counts(dropna=False)

$50,000-$74,999      268
$25,000-$49,999      239
$75,000-$99,999      225
NaN                  213
$100,000-$124,999    169
$200,000+            127
$10,000-$24,999      112
$125,000-$149,999     89
$0-$9,999             69
$150,000-$174,999     64
$175,000-$199,999     40
Name: q34, dtype: int64

In [65]:
response_wip['q35'].value_counts(dropna=False)

South Atlantic        302
Pacific               280
East North Central    233
Middle Atlantic       223
West South Central    154
Mountain              150
West North Central    115
New England            79
East South Central     59
NaN                    20
Name: q35, dtype: int64

In [66]:
response_wip['q36'].value_counts(dropna=False)

Windows Desktop / Laptop    880
iOS Phone / Tablet          324
Android Phone / Tablet      239
MacOS Desktop / Laptop      147
Other                        23
NaN                           2
Name: q36, dtype: int64

In [67]:
response_wip[["os", "device"]] = response_wip['q36'].str.extract(r"(?P<os>\w*) (?P<device>\w* / \w*)")
response_wip.drop(columns="q36", inplace=True)
response_wip["os"].value_counts()

Windows    880
iOS        324
Android    239
MacOS      147
Name: os, dtype: int64

In [68]:
response_wip['device'].value_counts()

Desktop / Laptop    1027
Phone / Tablet       563
Name: device, dtype: int64

In [69]:
response_wip.describe(include="all")

,start_date,end_date,q01,q02,q04_01,q04_02,q04_03,q04_04,q04_05,q04_06,...,racethn4,educ4,age3,has_children,orientation,weight,is_employed,employment_status,os,device
count,1615,1615,1601.000000,1606.000000,1615,1615,1615,1615,1615,1615,...,1615,1615,1615,1606,1615,1615.000000,1612,1612,1590,1590
unique,1378,1377,NaN,NaN,2,2,2,2,2,2,...,4,4,3,2,4,NaN,2,6,4,2
top,2018-05-16 07:19:00,2018-05-17 04:41:00,NaN,NaN,True,False,False,False,False,False,...,White,College or more,35 - 64,True,Straight,NaN,True,working full-time,Windows,Desktop / Laptop
freq,4,4,NaN,NaN,1109,960,1051,1312,1056,1286,...,1351,515,855,1065,1408,NaN,880,737,880,1027
first,2018-05-10 04:01:00,2018-05-10 04:06:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,2018-05-22 09:55:00,2018-05-22 12:07:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,0.753487,0.495641,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN
std,NaN,NaN,0.230095,0.297122,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.438996,NaN,NaN,NaN,NaN
min,NaN,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.019744,NaN,NaN,NaN,NaN
25%,NaN,NaN,0.666667,0.333333,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.102580,NaN,NaN,NaN,NaN
50%,NaN,NaN,0.666667,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.596892,NaN,NaN,NaN,NaN
75%,NaN,NaN,1.000000,0.666667,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.010046,NaN,NaN,NaN,NaN
max,NaN,NaN,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,8.676606,NaN,NaN,NaN,NaN

In [70]:
response_wip.columns[response_wip.describe(include="all").loc['count'] == 1615]

Index(['start_date', 'end_date', 'q04_01', 'q04_02', 'q04_03', 'q04_04',
       'q04_05', 'q04_06', 'q08_01', 'q08_02', 'q08_03', 'q08_04', 'q08_05',
       'q08_06', 'q08_07', 'q08_08', 'q08_09', 'q08_10', 'q08_11', 'q08_12',
       'q10_01', 'q10_02', 'q10_03', 'q10_04', 'q10_05', 'q10_06', 'q10_07',
       'q10_08', 'q11_01', 'q11_02', 'q11_03', 'q11_04', 'q11_05', 'q12_01',
       'q12_02', 'q12_03', 'q12_04', 'q12_05', 'q12_06', 'q12_07', 'q19_01',
       'q19_02', 'q19_03', 'q19_04', 'q19_05', 'q19_06', 'q19_07', 'q20_01',
       'q20_02', 'q20_03', 'q20_04', 'q20_05', 'q20_06', 'q21_01', 'q21_02',
       'q21_03', 'q21_04', 'q25_01', 'q25_02', 'q25_03', 'q28', 'q29', 'q30',
       'racethn4', 'educ4', 'age3', 'orientation', 'weight'],
      dtype='object')

In [71]:
response_wip.to_csv("cleaned/cleaned-responses.csv", index=False)